
@font-face {
    font-family: 'KGPrimaryItalics';
    src: url('font/kgprimaryitalics.woff');

}


@keyframes Shake {
    5%, 90% {
        transform: translate3d(-2px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }


 @keyframes points {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    40% {
        color: #fdcb46;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    60% {
        text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
    }

}

@keyframes pulse {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50%{
        opacity: .25;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

header {
    display: block;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #a1c181;
    
}

header, #button, footer {
    background-color: #579c87;

}

.logo, #button, footer li, a {
    color: #fdcb46;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

#contener {
    width: 100%;
    height: 2230px;
}

.contener {
    width: 100%;
    height: 2390px;
}

.contener-legal {
    width: 100%;
    height: 3500px;
}

.logo {  
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    width: 100%;
    margin: 0;
    line-height: 100px;
    text-transform: lowercase;
}

/*---------------------------------------*/
/*        Mise en forme carte menu       */
/*---------------------------------------*/

.animate {
    width: 536px;
    height: 759px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.one {
    background-color: #fcdfdb;
    justify-content: center;
   
}

.two {
    background-color: #fff5fe;
    justify-content: center;
    
}

.tree {
    background-color: #f9f9f9;
    justify-content: center;
    
}

.four {
    background-color: #fdfffd;
    justify-content: center;
    
}



.first, .uppercase {
    font-family: 'Devonshire', sans-serif;
    color: #3d1319;
}

.first {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

.uppercase{
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0;
}

.second {
    font-size: 35px;
    font-family: "Croissant One", cursive;
    background:linear-gradient(90deg, #c67412 0%,#8f5bfe 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 0;
}

.uppercase-2 {
    font-size: 40px;
    color: #c77412;
    margin-top: 25px;
}

.third {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    background: linear-gradient(to right, #0342e5, #0889fb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 0px;
    padding-left: 4px;
}

.lowcase-3 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #0887fb;
    margin-top: 25px;
}

.fourth {
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
    font-weight: lighter;
    background: linear-gradient(to right, #41963c, #beff7f);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    
}

.lowcase-4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: #72bf56;
    margin-top: 25px;
}

.menu {
    display: flex;
    width: 100%;
    height: 1800px;
    margin: auto auto;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1500px;
    margin: auto;
    padding-left: 0;
}

.menu li{
    box-shadow: 1px 1px 6px 4px rgba(237,237,237,0.55);
}

.menu li:nth-child(3), .menu li:last-child {
    margin-top: 90px;
    
}

/*---------------------------------------*/
/*        Mise en forme du zoom          */
/*---------------------------------------*/

.zoom, .zoom-2 {
    position: relative;
    overflow: hidden;
    width: 536px;
    height: 759px;

}

.zoom a, .zoom-2 a {
    max-width: 100%;
    transition: all .3s;
    transform: scale(1);
    -webkit-transition: all .3s;
    -webkit-transform: scale(1);
    
}

.zoom:hover a {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    padding-bottom: 10px;
    border-top-color: transparent;
    
}

.zoom-2:hover a {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    padding-bottom: 0;
    border-top-color: transparent;
}


/*---------------------------------------*/
/*  Mise en forme bouton "prochainement" */
/*---------------------------------------*/

.bouton {
    background: #579c87;
    color: #fdcb46;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    font-family: "roboto";
    font-size: 40px;
    width: 380px;
    height: 70px;
    line-height: 70px;
}

.bubble {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FEC85F;
}
    
.bubble-1 {
    animation: pulse .7s ease 0s infinite alternate;
    -webkit-animation: pulse .7s ease 0s infinite alternate;
}
    
.bubble-2 {
    animation: pulse .7s ease .2s infinite alternate;
    -webkit-animation: pulse .7s ease .2s infinite alternate;
}
    
.bubble-3 {
    animation: pulse .7s ease .4s infinite alternate;
    -webkit-animation: pulse .7s ease .4s infinite alternate;
}


/*---------------------------------------*/
/* Mise en forme footer+ animation Shake */
/*---------------------------------------*/

footer { 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 100px;
    border-top: 2px solid #a1c181;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding-right: 40px;
    margin-top: 0;
}

footer ul li {
    font-size: 30px;
    padding-top: 30px;
    
}

.shake:hover {
    animation: Shake 0.82s infinite;
    transform: translate3d(0, 0, 0);
}

.top-title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.sub-title {
    justify-content: start;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}




/*---------------------------------------*/
/*         Mise en forme des menu        */
/*---------------------------------------*/

h2, h3, h4 {
    font-size: 30px;
    font-family: 'Devonshire', sans-serif;
    color: #3d1319;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 90px;
    font-weight: 700;
    
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-family: 'KGPrimaryItalics';
}

.contenant{
    width: 1184px;
    height: 1675px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 6px 4px rgba(237, 237, 237, 1);
    background-color: #fde0dc;
}

.first-menu {
    display: flex;
    justify-content: center;
    height: auto;
}

.fal {
    padding-top: 40px;
    background: linear-gradient(to right, #f05160 0%,#f6916a 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.titre h2 {
    text-align: center;
    padding-top: 0;
    padding-bottom: 76px;
    font-family: 'Devonshire', sans-serif;
    color: #3d1319;
}




.entreemenu_one, .platmenu_one, .dessertmenu_one {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
}

.entrees_one, .price, .plats_one, .desserts_one {
    font-family: 'Kalam';
    font-weight: lighter;
    font-size: 28px;
    margin: 60px auto;
}

.price {
    font-weight: bolder;
}


.entrees_one, .plats_one, .desserts_one {
    padding-left: 128px;
    width: 100%;
}

.price {
    text-align: right;
    padding-right: 128px;
}



.platmenu_one img:first-child {
    margin-left: 30px;
}

.platmenu_one img:last-child {
    margin-right: 30px;
}

.dessertmenu_one img:first-child {
    margin-left: 47px;
}

.dessertmenu_one img:last-child {
    margin-right: 40px;
}

.bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 76px;
}

.bottom i {
    padding-top: 0;
    font-size: 60px;
}

.bottom h4 {
    margin: 0 14px;
    font-size: 50px;
    font-weight: lighter;
    
}





/* MENU 2 */

.contenant-two {
    width: 1184px;
    height: auto;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 6px 4px rgba(237, 237, 237, 1);
    background-color: #fff5fe;
}

.title-top {
    display: flex;
    width: 100%;
} 

.header {
    font-size: 40px;
    font-family: "Croissant One", cursive;
    font-weight: 400;
    background: linear-gradient(90deg, #e38913, #6e4ccc );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 76px;
    padding-left: 6px;
}

.entreemenu_one, .platmenu_one, .dessertmenu_one,
.entreemenu_two, .platmenu_two, .dessertmenu_two,
.entreemenu_tree, .platmenu_tree, .dessertmenu_tree,
.entreemenu_four, .platmenu_four, .dessertmenu_four {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 20px;
    padding-right: 20px;
}

.entreemenu_two h3, .platmenu_two h3, .dessertmenu_two h3 {
    font-family: 'Libre Baskerville', serif;
    color: #c67412;
}

.entrees_two {
    font-size: 27px;
    font-family: 'Playfair Display', serif;
    color: #c67412;
    padding: 0 176px;
    line-height: 44px;
    margin: 60px auto;
    width: 100%;

}

.price_two {
    text-align: end;
}

.platmenu_two h3, .plats_two {
    color: #a56799;
}

.plats_two, .desserts_two {
    font-size: 27px;
    font-family: 'Playfair Display', serif;
    padding: 0 176px;
    line-height: 44px;
    margin: 60px auto;
    width: 100%;
}

.price_tree, .price_four, .price_five {
    text-align: end;
}

.dessertmenu_two h3, .desserts_two {
    color: #6e4ccc;
}

/* SOULIGNEMENT */

.underline, .underline_two, .underline_tree, .underline_four {
    position: relative;

}

.underline, .underline_tree, .underline_four  {
    margin-bottom: 0;
}

.underline_two {
    margin-bottom: 7px;
}

.underline::after {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: width .5s ease;
    background:linear-gradient(-270deg, #3d1319 0%,#3d1319 100%);
}


.underline_two::after {
    position: absolute;
    display: inline;
    content: '';
    display: block;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    background:linear-gradient(-270deg, #c67412 0%,#8f5bfe 100%);
}

.underline_tree::after {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    background:linear-gradient(to top,  #0228dd 0%, #0889fb 100%);
}

.underline_four::after {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    background: linear-gradient(-270deg, #489b40 0%, #beff7f 100%);
}

.underline:hover::after,.underline_two:hover::after, .underline_tree:hover::after, .underline_four:hover::after {
    width: 100%;
    visibility: visible;
}


.footer-1, footer-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-1 h4 {
    font-family: "Croissant One", cursive;
    font-size: 40px;
    font-weight: 400;
    background: linear-gradient(90deg, #e38913, #6e4ccc );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    padding-bottom: 76px;
}

/* MENU 3 */

.contenant-tree {
    width: 1184px;
    height: auto;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 6px 4px rgba(237, 237, 237, 1);
    background-color: #edefef;
}

.contenant-tree .header, .four {
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    background: linear-gradient(to right, #0342e5, #0889fb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.entree_tree, .plat_tree, .dessert_tree, .entreemenu_tree h3, .platmenu_tree h3, .dessertmenu_tree h3, .price_four, .entree_four, .plat_four, .dessert_four, .entreemenu_four h3, .platmenu_four h3, .dessertmenu_four h3, .price_four, .price_five {
    font-size: 35px;
    color: #000000;
    font-family: 'Caveat', cursive;
    line-height: 46px;
}

.entrees_tree, .plats_tree, .desserts_tree {
    padding: 0 176px;
    width: 100%;
    margin: 60px auto;
}

.desserts_tree {
    margin-bottom: 75px;
}

.footer-2 h4 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    background: linear-gradient(to right, #0342e5, #0889fb);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
}

/* MENU 4 */

.contenant-four {
    width: 1184px;
    height: auto;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 6px 4px rgba(237, 237, 237, 1);
    background-color: #fdfffd;
}

.four {
    font-family: 'Kaushan Script', cursive;
    background: linear-gradient(to right, #41963c, #beff7f);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.entrees_four, .plats_four, .desserts_four {
    padding: 0 155px;
    width: 100%;
    margin: 60px auto;
}



.entree_four, .plat_four, .dessert_four, .price_five {
    font-family: 'Shadows Into Light', cursive;
    font-size: 29px;
}

.desserts_four {
    margin-bottom: 60px;
}

.footer-3 h4 {
    width: 100%;
    text-align: center;
    padding-bottom: 76px;
    font-size: 70px;
    font-family: 'Kaushan Script', cursive;
    background: linear-gradient(to right, #41963c, #beff7f);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
}



.contenant-five {
    width: 1350px;
    margin: 0 auto;
    text-align: justify;
    height: auto;
}



/* CREATION RESPONSIVE */

@media screen and (max-width: 1230px) {

    main {
        margin: 0 10px;
    }

    /* index.html*/

    .contener {
        display: block;
        width: 100%;
        height: auto;
    }

    .contener-legal {
        display: block;
        width: 100%;
        height: auto;
    }

    .menu {
        display: block;
        width: 100%;
        height: auto;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .menu li:nth-child(3), .menu li:last-child {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .zoom, .zoom-2 {
        position: relative;
        overflow: hidden;
        width: 536px;
        height: 759px;
        box-shadow: 1px 1px 6px 4px rgba(237,237,237,0.55);
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .bouton {
        display: block;
        margin-bottom: 120px;
        margin-top: 20px;
    }

    footer {
        margin: 0 0;
    }

    main h2 {
        padding: 26px 0;

    }




    /* MENU 1 */

    .contenant, .contenant-two, .contenant-tree, .contenant-four {
        display: block;
        width: 100%;
        height: 1350px;
        margin-top: 0;
    }

    .contenant-five {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .contenant-two {
        height: 1200px;
    }

    .price {
        text-align: end;
        padding-right: 0;
    }

    .platmenu_one img:first-child, .platmenu_one img:last-child,
    .dessertmenu_one img:first-child, .dessertmenu_one img:last-child {
        margin-left: 0;
        margin-right: 0;
    }

    .entrees_one, .plats_one, .desserts_one,
    .entrees_two, .plats_two, .desserts_two,
    .entrees_tree, .plats_tree, .desserts_tree,
    .entrees_four, .plats_four, .desserts_four {
        padding: 0 20px;
        margin-bottom: 50px;
        width: 100%;

    }

    .entreemenu_one, .platmenu_one, .dessertmenu_one,
    .entreemenu_two, .platmenu_two, .dessertmenu_two,
    .entreemenu_tree, .platmenu_tree, .dessertmenu_tree,
    .entreemenu_four, .platmenu_four, .dessertmenu_four {
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }



    .entreemenu_two h3 {
        text-align: center;
    }


    /* MENU 2 */

    .contenant-tree .header,
    .contenant-two .header,
    .contenant-four .header {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-1, .footer-2, .footer-3 {
        display: flex;
        text-align: center;
    }

    .contenant-four {
        display: block;
        width: 100%;
        height: 1350px;
    }

}

@media screen and (max-width: 937px) {

    .contenant {
        display: block;
        width: 100%;
        height: 100%;
    }

    .menu li:last-child {
        margin-bottom: 50px;
    }

    .bouton {
        margin-top: 0;
        margin-bottom: 0;
    }

    footer {
        width: 100%;
        position: initial;
        display: block;
        margin-left: 0;
        margin-top: 40px;
    }

    footer ul {
        margin-bottom: 0;
    }

    .footer-1 h4, .footer-2 h4 {
        padding-bottom: 50px;
    }

    .first-menu {
        width: 100%;
        height: auto;
    }

    .entreemenu_one, .platmenu_one, .dessertmenu_one, .entreemenu_two, .platmenu_two, .dessertmenu_two, .entreemenu_tree, .platmenu_tree, .dessertmenu_tree, .entreemenu_four, .platmenu_four, .dessertmenu_four {
        display: block;
    }



/*-------------------------------------
--------      MENU 2     --------------
--------------------------------------*/

    .contenant, .contenant-two, .contenant-tree, .contenant-four {
        height: auto;
    }

    .bottom, .footer-1, .footer-2, .footer-3 {
        padding-bottom: 0;
    }

    .entreemenu_four h3, .platmenu_four h3, .dessertmenu_four h3 {
        margin-left: 2px;
        margin-right: 2px;
    }

    .inline {
        display: flex;
        justify-content: center;
    }

    .zoom, .zoom-2 {
        position: relative;
        overflow: hidden;
        width: 536px;
        height: 759px;
        box-shadow: 1px 1px 6px 4px rgba(237,237,237,0.55);
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 868px) {

    footer {
        height: auto;
    }

    footer ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer ul li:last-child {
        padding-bottom: 20px;
        padding-top: 15px;
    }

    .break {
        white-space: nowrap;
    }

}

@media screen and (max-width: 603px) {

   .no-style {
       font-size: 35px;
   }

   .first-menu i {
       font-size: 3em;
       padding-top: 20px;
   }

   .bottom i {
       font-size: 2em;
   }

   .titre h2{
       padding-bottom: 10px;
   }


   .header, .footer-1 h4, .titre h2, .bottom h4 {
       font-size: 30px;
   }

   .contenant-tree .header {
       font-size: 30px;
   }


   .entrees_two, .plats_two, .entrees_one, .plats_one, .desserts_one, .price,
   .entree_two, .plat_two, .dessert_two, .entreemenu_two h3, .platmenu_two h3, .dessertmenu_two h3,
   .entree_tree, .plat_tree, .dessert_tree, .entreemenu_tree h3, .platmenu_tree h3, .dessertmenu_tree h3, .price_four, .entree_four, .plat_four, .dessert_four, .entreemenu_four h3, .platmenu_four h3, .dessertmenu_four h3, .price_four, .price_five {
       font-size: 20px;
       line-height: 20px;
   }

   .bottom {
       padding-bottom: 20px;
   }

}



@media screen and (max-width: 580px) {

    #contener {
        width: 100%;
        height: 2100px;
    }

    .animate {
        width: 280px;
        height: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .zoom, .zoom-2 {
        position: relative;
        overflow: hidden;
        width: 280px;
        height: 400px;
        box-shadow: 1px 1px 6px 4px rgba(237,237,237,0.55);
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .zoom a, .zoom-2 a {
        max-width: 100%;
        transition: all .3s;
        transform: scale(1);
    }
    
    .zoom:hover a {
        transform: scale(1.2);
        padding-bottom: 10px;
    }
    
    .zoom-2:hover a {
        transform: scale(1.2);
        padding-bottom: 0;
    }


    .animate i{
        font-size: 2em;
    }

    .first {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
    }

    .uppercase {
        text-transform: uppercase;
        font-size: 35px;
        margin-top: 15px;
    }


    .second {
        font-size: 20px;
        font-family: "Croissant One", cursive;
        background:linear-gradient(90deg, #c67412 0%,#8f5bfe 100%);
        background: -webkit-linear-gradient(90deg, #e38913 0%, #6e4ccc 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        margin-bottom: 0;
    }
    
    .uppercase-2 {
        font-family: "Croissant One", cursive;
        font-size: 30px;
        color: #c77412;
        margin-top: 25px;
    }

    .third {
        font-size: 30px;
        font-family: 'Dancing Script', cursive;
        font-weight: lighter;
        background: linear-gradient(to right, #0342e5, #0889fb);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        margin-bottom: 0px;
        padding-left: 4px;
    }
    
    .lowcase-3 {
        font-family: 'Dancing Script', cursive;
        font-size: 40px;
        color: #0887fb;
        margin-top: 25px;
    }
    
    .fourth {
        font-size: 30px;
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(to right, #41963c, #beff7f);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color:transparent;
        margin-bottom: 0;
    }
    
    .lowcase-4 {
        font-family: 'Kaushan Script', cursive;
        font-size: 40px;
        color: #72bf56;
        margin-top: 25px;
    }


}

@media screen and (max-width: 380px) {


    #contener {
        width: 100%;
        height: 2065px;
    }
    header {
        display: block;
        width: 100%;
        height: 80px;
    }

    .logo {
        width: 100%;
        height: auto;
        font-size: 45px;

    }

    .zoom {
        width: 280px;
        height: auto;
    }

    .bouton {
        width: 80%;
        height: auto;
        font-size: 20px;
    }

    footer ul li {
        font-size: 20px;
        padding-top: 22px;
    }

    .no-style {
        font-size: 25px;
    }

    .first-menu i {
        font-size: 1em;
    }

    .titre h2 {
        font-size: 20px;
    }

    .inline {
        margin: 5px 10px;
        width: 100%;
    }

    .inline h3 {
        margin-bottom: 0;
        font-size: 14px;
    }

    .entrees_two, .plats_two, .entrees_one, .plats_one, .desserts_one, .price, .entree_two, .plat_two, .dessert_two, .entreemenu_two h3, .platmenu_two h3, .dessertmenu_two h3, .entree_tree, .plat_tree, .dessert_tree, .entreemenu_tree h3, .platmenu_tree h3, .dessertmenu_tree h3, .price_four, .entree_four, .plat_four, .dessert_four, .entreemenu_four h3, .platmenu_four h3, .dessertmenu_four h3, .price_four, .price_five {
        font-size: 14px;
    }

    .header, .footer-1 h4, .titre h2, .bottom h4 {
        font-size: 20px;
    }

    .entreemenu_one, .platmenu_one, .dessertmenu_one, .entreemenu_two, .platmenu_two, .dessertmenu_two, .entreemenu_tree, .platmenu_tree, .dessertmenu_tree, .entreemenu_four, .platmenu_four, .dessertmenu_four {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }

    .underline_two {
        margin-bottom: 0;
    }

    .testons h2{
        padding-top: 26px;
    }

    .contenant-five {
        padding: 0 10px;
    }


}









